<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <h2>Resúmen</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each stats}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{value}}</td>
                    <td>{{percent percent}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <h2>Resultados</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Elementos</th>
                    <th>Válidos</th>
                    <th>Porcentaje elementos válidos</th>
                    <th>Test</th>
                </tr>
            </thead>
            <tbody>
                {{#each contrasts}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{type}}</td>
                    <td>{{total}}</td>
                    <td>{{pass}}</td>
                    <td>{{percent score}}</td>
                    <td><a href="/tests/{{test}}">{{test}}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
